<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
<head>
<meta charset="utf-8"/>
<title>Produits</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
</head>
<body>
<div class="container">
<h3>Liste des produits</h3>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th><th>Désignation</th><th>Prix</th><th>Quantité</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="p:${listProduits}">
				<td th:text="${p.id}"></td>
				<td th:text="${p.designation}"></td>
				<td th:text="${p.prix}"></td>
				<td th:text="${p.quantite}"></td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>